trunk/TP_Taller1/Debug/
trunk/TP_Taller1/Log.txt
trunk/TP_Taller1/LogServidor.txt
trunk/TP_Taller1/LogCliente.txt
trunk/TP_Taller1/salida.yaml
trunk/TP_Taller1/Servidor
trunk/TP_Taller1/Cliente
trunk/TP_Taller1/TP_Taller1
